<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>All Tasks</h2>
    <table border="1" style="border-collapse: collapse; width: 100%;">

    <tr>
            <th>id</th>
            <th>description</th>
            <th>status</th>
        </tr>
        <tbody>
        <tr th:each="task:${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td>

                <a style="margin-right: 20px" th:href="@{/show-update-task-page/{id}(id=${task.id})}"
                   class="btn">Update</a>
                <a th:href="@{/delete-task/{id}(id=${task.id})}"
                   class="btn">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
    <br><br><br><br>


    <div>
        <a th:href="@{/(page=${currentPage - 1}, pageSize=${pageSize})}"
           th:if="${currentPage > 1}">Previous</a>
        <span>Page <span th:text="${currentPage}"></span></span>
        <a th:href="@{/(page=${currentPage + 1}, pageSize=${pageSize})}"
           th:if="${tasks.size() == pageSize}">Next</a>
    </div>

    <br>
    <form th:action="@{/addNew}" method="get">
        <button type="submit" class="btn">Add New Task</button>
    </form>
</div>
</body>
</html>