<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Updated</h2>
<div>
    <form th:action="@{/save}" th:object="${task}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label > Task id </label>
            <input type="text" id="id" th:field="*{id}" required>
        </div>

        <div>
            <label > Task description </label>
            <input type="text" id="description" th:field="*{description}" required>
        </div>

        <div>
            <label > Task status </label>
            <select id="status" th:field="*{status}" required>
                <option value="DONE">Done</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="PAUSED">Paused</option>
            </select>
        </div>

        <div>
            <button type="submit" > Update task</button>
        </div>

    </form>

</div>

</body>
</html>